body{
  background-color: #FFF;
  font-style: normal;
  font-family: verdana;
}
a{
  color: #FF6600;
}
a.hover{
  color: red;
}
.odd{
  background: #777777;
}
.even{
  background: #999999;
}
.footer{
  font-size: 0.5em
}
h3{
  flex: 1
  color: #444;
}
